<!-- <h1><p>parent works!</p></h1> -->
<!-- <h2><app-child [Name]="data"></app-child></h2> -->
<!-- <h2><app-child [Name1]="data1" [Name]="data"></app-child></h2> -->
<!-- <h4>{{emittedData}}</h4>
<h1> {{getFromChild}} </h1> -->
<!-- <app-child (customEvent)="emittedData=($event)"></app-child> -->
<!-- <app-child (customEvent)="parentCalling($event)"></app-child> -->
<p #anil>Hi Anil</p>
<p #anil>Hi Anilkumar</p>

<h1 #ang>This is Anil</h1>
<h1 #ang>This is Anilkumar</h1>


<button (click)="test()">Click me</button>