<p>third works!</p>
<div>
    <h3>usage of value:</h3>
    <input type="text" placeholder="data">
</div>
<hr>
<div>
    <h3>usage of [value]</h3>
    <input type="text" [value]="data">
</div>
<hr><hr>
<h1> {{title | uppercase}} </h1>
<h1> {{ title | lowercase}} </h1>
<h1> {{ title | titlecase}} </h1>
<h1> {{ title | slice:3:6}} </h1>
<h1> {{ employee | json}} </h1>
<h2> {{6.78998 | number:'1.2-2'}} </h2>
<h2> {{6.789766 | number:'2.4-5'}} </h2>
<h2> {{6.789 | number:'3.7-8'}} </h2>
<h2> {{0.30 | percent}} </h2>
<h2> {{0.30 | currency}} </h2>
<h2> {{0.30 | currency:'EUR'}} </h2>
<h2> {{0.30 | currency:'INR'}} </h2>
<h3> {{date}} </h3>
<h3> {{date | date: 'fullDate' | lowercase}} </h3>
<h3> {{date | date: 'short' | lowercase}} </h3>
<h3> {{date | date: 'shortDate'}} </h3>
<h3> {{date | date: 'shortTime'}} </h3>
<h3> {{date | date: 'd/y/m'}} </h3>




<h1>Third working</h1>
<!-- <router-outlet></router-outlet> -->